.img_Upload{

    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right:auto ;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    position: sticky;
    bottom: 0;
    
   
}

.imgUpload_progress{
    width: 100%;

}